/* Example styles for the website */

/* General styles */
@font-face {
  font-family: customFont;
  src: url(fonts/GABR.TTF);
}
@font-face {
  font-family: pistachio;
  src: url(fonts/PistachioFont.otf);
}


header {
  background-color:rgba(0, 0, 0, 0.1);
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: rgb(228, 139, 23);
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  text-align: left;
}

nav a:hover {
  text-decoration: underline;
}

/* Scroll box styling */
.scroll-box {
  font-family:pistachio;
  color: #e4c098;
  font-size: large;
  text-align: left;
  width: 80%;                /* Set width of the scroll box */
  max-width: 600px;          /* Set a maximum width */
  max-height: 600px;         /* Set maximum height of the scroll box */
  overflow-y: auto;          /* Enable vertical scrolling */
  border: 1px solid #050505;
  padding: 15px;
  background-color:rgb(100, 63, 21);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-width: thick;
}
.flex-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  margin-bottom: 15px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchBar {
  flex-grow: 1;               /* Make the input take the available width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: customFont;
  font-size: 12px;
  outline: none;              /* Remove default outline */
  transition: border-color 0.3s ease;
}
#searchBar:focus {
  border-color: #94a17b;      /* Green border when focused */
}
#searchButton {
  background-color: #754c17;  /* Green background */
  color: white;
  font-family: customFont;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#searchButton:hover {
  background-color: #8b4c0d;  /* Darker green on hover */
}
#resetButton {
  background-color: #6b0505;  /* Red background */
  color: white;
  font-family: customFont;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for reset button */
#resetButton:hover {
  background-color: #850808;  /* Darker red on hover */
}


