/* Example styles for the website */

/* General styles */
@font-face {
  font-family: customFont;
  src: url(fonts/GABR.TTF);
}
@font-face {
  font-family: pistachio;
  src: url(fonts/PistachioFont.otf);
}
body {
  font-family:pistachio;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('images/Apartment.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  font-family: customFont;
}
.question {
  margin-bottom: 20px;
}
input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  font-family: pistachio;
}
button {
  padding: 10px 20px;
  background-color: #836f9e;
  color: white;
  border:#131116;
  border-radius: 2px;
  cursor: pointer;
  font-family:'Courier New', Courier, sans-serif;
  align-items:start;
  border-style: solid;
}
button:hover {
  background-color: #48327a;
}
.result {
  margin-top: 20px;
  font-weight: bold;
}
/* .hint {
  margin-top: 10px;
  font-style: italic;
  color: #888;
} */
.next-question {
  margin-top: 20px;
  display:block; /* Hide the button initially */
}

header {
  background-color:rgba(0, 0, 0, 0.1);
  color: white;
  padding: 15px;
  text-align: center;
}



nav a:hover {
  text-decoration: underline;
}


.flex-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  margin-bottom: 15px;
}
